/*********************************************************************************************

Project : MyTailor Fahion
URI: http://MyTailor.me/
Version: 1.0
Author: Jobizzness
Github URI: https://github.com/jobizzness/jobekunda

***********************************************************************************************/

@import "reset.scss";
@import "waves.sass";
@import "animate.scss";
@import "../fonts/MaterialDesign-Font/css/materialdesignicons.min.css";

/*********************************************************************************************

     Sass Variables

*********************************************************************************************/

$accnet_red:#F23054;
$dark_color:#202024;
$light_color:#C4C4C4;
$light_text:#4E4E4F;
$mlight_text:#868686;
$mmlight_text:rgba(255, 255, 255, 0.6);
$transp_txt:rgba(162, 168, 165, 0.46);


$ui-color: (
    success    :#13E096,
    link       :#2196F3
);

/*********************************************************************************************

     Base code

*********************************************************************************************/

body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
    background:#eee;
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
      
p, a, h3, h5, h6, em, li {
    text-align:justify; 
    margin:0.625rem 0.625rem;
    color:$light_text;
    text-decoration:none;
    font-size:88%;
}

img{
    max-width: 100%;
}  

 h1{
    margin: 1.5625rem 1.5625rem;
    font-size:115%;
}


table {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    text-align: left;
}

tr, td { 
    margin: 0;
    padding: 0;
}
.dark{
    background: $dark_color;
}

/*********************************************************************************************

    Utility Tools

*********************************************************************************************/

textarea:focus, input:focus{
    outline: none;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.hidden{
    display: none;
}

.wrap{
    max-width: 97rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;

}


.mt-layout{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.mt-layout-black__cover{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index:2000;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
} 

.is-visible{
    background: rgba(0, 0, 0, 0.63);
    visibility: visible !important;
}     

.m-0{
    margin: 0;
}
/*********************************************************************************************

     Side Bar

*********************************************************************************************/

.mt-sidebar{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 18.75rem;
    height: 100%;
    max-height: 100%;
    position: fixed;
    left: -18.75rem;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    overflow: visible;
    overflow-y: auto;
    z-index: 3500;
}

.sideOpen .mt-sidebar {
    left: 0;
}
.sideOpen .mt-header,
.sideOpen .pagewrapper,
.sideOpen .footerContainerWrapper{
    left: 18.75rem;
}

.pageContainer{
    min-height: 40em;
}
body.sideOpen{
    overflow-y: hidden;
}

.mt-header,
.pagewrapper,
.footerContainerWrapper {
    position: relative;
    left: 0;
    @extend .transit-4;
}  

.mt-nav{
    background: #fff;
    margin:0;
    height:100%;
}

.mt-nav ul li{
    margin: 0;
    display: block;
    box-sizing: border-box;
    list-style: none !important;
}

.mt-nav .mt-sidebar-list .mt-sidebar-link{
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    letter-spacing: 0;
    font-size: 14px;

}

a.mt-sidebar-link{
    font-weight: 600;
    padding: 1em 1.5em;
    color:rgba(10, 10, 10, 0.68);
    margin: 0;
        &:hover{
              background:rgba(148, 159, 164, 0.13) !important;
    }
}

.mt-list-active>a{
      background:rgba(148, 159, 164, 0.13) !important;
      color: $accnet_red;


}

#Navmember{
    background:rgba(242, 48, 84, 0.81);
    margin-right: 0 !important;
}

    /******TRANSITIONS*******/
.transit-4{
    -webkit-transition: all 400ms ease;
    transition: all 400ms ease;
}

.transit-3{
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.transit-7{
    -webkit-transition: all 700ms ease;
    transition: all 700ms ease;
}


/*Sidebar Icons*/


.mt-home{
    background: url('../../images/icons/nav/home.svg');
}

.mt-shots{
    background: url('../../images/icons/nav/shots.svg');
}

.mt-brands{
    background: url('../../images/icons/nav/brands.svg');
}
.mt-icon{
    height: 30px;
    width: 30px;
    margin-right: 20px;
    vertical-align: middle;
    display: inline-block;
    background-size: cover;
}
/*********************************************************************************************

     Page Header

*********************************************************************************************/

.mt-global-header{
    width: 100%;
    margin: 0;
    height: 60px;
    background-color: #202024;
    line-height: 0.625rem;
    padding: 10px 25px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.49), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.mt-header{
    top: 0;
    width: 100%;
    z-index: 99;
    position: fixed;

}


.mt-header-animate{

            -moz-animation: reveal-header 0.5s;
    -webkit-animation: reveal-header 0.5s;
    -ms-animation: reveal-header 0.5s;
    animation: reveal-header 0.5s;
}
@-moz-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-webkit-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @-ms-keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }

    @keyframes reveal-header {
        0% {
            top: -5em;
        }

        100% {
            top: 0;
        }
    }
.show{
      position: absolute;  
}
  .pull-left{
    position: relative;
    display: inline-block;
    margin: 1em 0;
    width: 15.875rem;
}

.pull-left a{
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
}

.mt-menu-icon{
    display: inline-block;
    padding: 0.5rem 3.125rem 0.375rem 0rem;
    position: absolute;
    top: -18px;
    font-size: 0.8125rem;
    line-height: 0.5625rem;
}


.__active:after{
    bottom: 0 !important;
}

.mt-logo-wrapper{
    display:inline-block;
}

.mt-logo-wrapper>a{
    margin: 0;
}

.mt-logo-wrapper>a>img{
    width: 37px;
}

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
    width: calc(100% - 240px);
}

.expandable--search{
    margin: 0 50px;
    align-items: center;
    justify-content: center;
    max-width: 600px;
}

.mt-search-wrapper, .mt-search-wrapper form, .mt-search-wrapper input{
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.expandable--search form{
        max-width: 600px;
}



button.icon-round{
    cursor: pointer;
    border-radius: 50%;
    float: right;
    display: inline-flex;
    height: 32px;
    margin: 3px 0 0;
    min-width: 32px;
    width: 32px;
    padding: 0;
    overflow: hidden;
    line-height: normal;
}

.mdl-button:hover{
        background-color: rgba(158,158,158,.2);
}

.icon-center{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-12px,-12px);
    -ms-transform: translate(-12px,-12px);
    transform: translate(-12px,-12px);
    line-height: 24px;
    width: 24px;
}
.mdl-button{
        background: 0 0;
    border: none;
    border-radius: 2px;
    color: #868686;
    display: block;
    position: relative;
    height: 36px;
    min-width: 64px;
    padding: 0 8px;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0;
    overflow: hidden;
    will-change: box-shadow,transform;
    -webkit-transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1);
    outline: none;
    text-decoration: none;
    text-align: center;
    line-height: 36px;
    vertical-align: middle;
}
.mt-search-wrapper input{

    outline: none;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px 1px #424248;
    background-color: transparent;
    padding: 0px 35px 0px 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}

span.icon-search{
    color:#868686;
    position: relative;
    right: -40px;
    margin-left: -24px;
}


.mt-search-wrapper input::-webkit-input-placeholder { /* WebKit browsers */
    color: #868686;
}
.mt-search-wrapper input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#868686;
   opacity:  1; /* Firefox gives the placeholder a reduced opacity so we have to increase it */
}


.mt-search-wrapper input:hover, .mt-search-wrapper input:focus{
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    color: white;
    background:rgba(255, 255, 255, 0.1) !important;
}


@media (max-width: 1235px){
    .pull-left{
        width: 15%;
        min-width: 7rem;
    }

}

@media (max-width: 1000px){
    .mt-global-header{
        padding: 10px;
    }
    .wrap {
        padding: 0 1rem;
    }
    .header-notification-wrapper{
           width: 14.625rem;
    }

}
@media (max-width: 700px){
        .hide-on-phone{
    display: none !important;
        }

        .mt-toggle-search{
            visibility: visible !important;
        }

        .mt-search-wrapper{
                width: calc(100% - 100px);
        }

        .expandable--search{
                margin: 0 30px;
        }
}

@media (max-width: 700px){

    .expandable--search {
        margin: 0 8px;
    }


    .mt-search-wrapper {
        width: calc(100% - 50px);
    }

}
/*********************************************************************************************

    BreadCrump

*********************************************************************************************
/*Bread crump Bar*/

.mt-list-item{
    float: left;
    display: inline-block;
    position: relative;
    font-size: 1.14286rem;
    line-height: 0;
    padding: 0px 6px;
    margin: 0;
    overflow: hidden;
}

.mt-list-item>a{
    font-weight: 600;
    font-size: 0.8rem;
    display: block;
    margin:0;
    transition: all 0.1s cubic-bezier(0.9, 0, 0.1, 1);
    padding: 28px 20px 34px !important;
}

.mt-list-item:after {
    content: "";
    left: 0px;
    bottom: -7px;
    right: 0px;
    height: 4px;
    background-color: $accnet_red;
    position: absolute;
    transition: bottom 250ms ease-in-out;
    }

.mt-list-item:hover:after {
    bottom: 0;

}


/*Header breadcrump*/

.main-feed-header{
    text-align: center;
    background: #Fff;
    height: 60px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);

}

.mt-breadcrump-wrapper{
    min-width: 11rem;
    width: calc(100% - 60rem);
    margin-right: 5em;
    display: inline-block;
    float: left;
    padding: 0.4em;
}

.mt-shots-nav-wrapper{
    width: 308px;
    display: inline-block;
    margin: 0 50px;

}
.mt-shots-nav-actions{
    float: right;
    display: inline-block;
    padding: 0.6em 0.2em;
}

.breadcrump{   
    padding: 8px 15px;
    margin: 7px 0;
    list-style: none;
    background-color: inherit;
    white-space: nowrap;
}

.breadcrump>li{
    display: inline-block;
     margin: 0;
    text-transform: capitalize;
}

.breadcrump>li+li:before {
    content: "/ ";
    padding: 0 5px;
    color:rgb(66, 65, 65);
}


.breadcrump>li>a{    
    color: map-get($ui-color, link);
    font-size: 98%;

}

.mt-menu-container{
    background: #fff;
    padding: 0.3em 0;
    position: absolute;
    right: 10px;
    top: 43px;
    z-index: 999;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: all 0.3s ease;
    transform: scale(0);
    webkit-transform-origin: 100% 0;
    -ms-transform-origin: 100% 0;
    transform-origin: 100% 0;
    opacity: 0;
}

.mt-menu-container>ul>li{
    display: block;
    padding: 0;
    margin: 0;

}

.mt-menu-container>ul>li>a{
    padding: 0.9em 2em;
    display: block;
    font-size: 14px !important;

    &:hover{
            background: rgba(148, 159, 164, 0.13) !important;}
}


.showMenu{
        -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1) !important;
    opacity: 1;
}

@media (max-width: 600px){
    .mt-breadcrump-wrapper{
        display: none;
    }
}

/*********************************************************************************************

     Hero Area

*********************************************************************************************/

.hero{
    width: 100%;
    overflow: hidden;
    position: relative;
}
                         
.Banner-cover{
    position: absolute;
    height: 37rem;
    width: 100%;
    top: 5rem;
    margin: 0;
    background: url("../../images/background/banner01.jpg");
    background-repeat: no-repeat;
}

.cover-container{
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.hero-viewport{
    width: 100%;
    overflow: hidden;
}

.hero-viewport-image{
    width: 100%;
    background: #151515 url("../../images/background/banner01.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
  

.hero-content{
    color: #fff;
    padding: 15em 0;
    width: 100%;
    z-index: 25;
    text-align: center;
}
ul.hero-actions {
    cursor: default;
    list-style: none;
    padding: 3em;
}

.Buts_02{    padding: 0.9em 3.9em;
    margin-left: 0.5em;
    border-radius: 4px;
    font-size: 21px;
    background-color: transparent;
}

 ul.hero-actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

.mt-hero-textwrap{
    text-align: left;
}                  

.mt-heading-text{
    margin: 0 1em;
    color: #fff;
    font-weight: 600;
}
.mt-subheading-text{
    margin: 0.5em 2.5em;
}

.mt-hero-button{
    text-align: left;
    margin: 2em 6em;
}
  .button_09{
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}



.button_09{
    color: #fff;
    min-width: 12em;
    font-size: .95rem;
} 

.special{
       background: linear-gradient(to bottom,#F23054,#F03054);

}

span.special:hover{
    background: linear-gradient(to bottom, #D82849, #DC2749);
}
.mt-slide-button{

    margin: 2em 2em;
}
.hero-actions>li#signup :hover{
    background-color: #FD3056;

}

.hero-actions li :hover {
    background-color: rgba(255, 255, 255, 0.33);

}

@media (max-width: 61rem) {
    .hero-viewport{
        font-size: 0.85rem;
    }
}



                         /*Links to Go*/

.link-02-rt{box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    width: 80%;   
    background:$dark_color;}

.kilama-01{    padding: 32px 0;


}
.kilama-01 a{    float: left;
    width: 22%;}

._kilama{    float: left;
    overflow: hidden;
    text-align: center;
    width: 20%;}
.kilama-div{    padding: 0 30px;} 

.kilalma-ico{    padding: 2em 0em;}

.kilama-tit{
    color: $mmlight_text;
    font-size: 120%;
    font-weight: 600;
    margin-bottom: 10px;
}   


.kilama-01 a:hover .kilama-tit{color:#F23054 }

.kilama-inf{color: $mlight_text;
  font-size: 115%; 
}

.v-090{
    text-align: center;
    margin-top: 1rem;
    padding: 2em 0;
    border-bottom: 1px solid #444444;
}

#vp-but0{    box-shadow: inset 0 0 0 2px #F23054;}

#vp-but0 a{color: #fff


}
   
#vp-but0:hover{background: #F23054


}

/*********************************************************************************************

     Featured SHOTS

*********************************************************************************************/

.mdl-cards{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    min-height: 360px;
}

.mt-row-wrapper{
    width: 80%;
    min-width: 70em;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-top: 2em;
}


.mt-row-wrapper:before{
    content: "";
    display: table;
}



.all-container{

    float: left;
    position: relative;
    min-height: 1px;
    margin-bottom: 2rem;
    padding: 0 0 0 1.5em;

}
 

.lth-col-1{
    width: 33%;
}


.ht-col-1{
    height: 21.9688rem;
}

.lth-wrapper{

    height: 100%;
    background-size: cover;
}
.lth-wrapper a{
    margin:0;

}

.overlay-items{
    width: 100% !important;
    height: 100%;
    position: relative;
}
.all-container>figure{
        @extend .transit-4;
    }



@media screen and (max-width: 1000px){ 
    .mt-row-wrapper{
        min-width: auto;
        width:99%;
        padding-right: 1em;    
    }

    .mt-row-wrapper > *{
        width: 33%;
    }
}


@media screen and (max-width: 840px){ 
    .mt-row-wrapper {
        min-width: 55em;
        width: 90%;
    }

    .mt-row-wrapper > * {
        width: 50%;
    }

}

    @media screen and (max-width: 720px){ 
            .mt-row-wrapper {
                min-width: auto;
                width:99%; 
    }
}

 @media screen and (max-width: 500px){ 
    .mt-row-wrapper {
        min-width: 20em;
        width: 95%;
    }

    .mt-row-wrapper> * {
        width: 100%;
        min-height: 32em;
    }
}

/*********************************************************************************************

     last Section

*********************************************************************************************/
.mt-large-info-box{
    padding: 3em 0;
    text-align: center;
    width: 35%;
    margin: 0 auto;
}

/*********************************************************************************************

     Page Footer

*********************************************************************************************/

.footerContainerWrapper{
    background: $dark_color url("../../images/pattern1.png");
    padding: 4em 0px 1em 0;
    text-align: center;
    clear: both;
    width:100%;

}                                       

ul.icons {
    padding: 2em;
    margin: 0 0 2em 0;
}

ul.icons li{
    display: inline-block;
    padding: 0 1.25em 0 0;
    color:$light_text;
    margin: 0;
          a{    font-size: 200%;

    }
}

.copyright li{
    text-align: center;

}
          /*Icons*/

.mt-menu-text{
    padding-left: 30px;
    color: $mmlight_text;
    text-shadow: 0px 1px 0px black, 2px 0px 1px rgba(0, 0, 0, 0.87);
}

#ico-menu{
    width:2em;

}

/*Svg icons*/


/*********************************************************************************************

     Shots Page

*********************************************************************************************/


.mt-product-wrapper{
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    margin: 1em 2px 4em 2px;
    padding: 0px;
}
            
.grid-item figcaption{
    display: -webkit-box;
    display: flex;
    filter:alpha(opacity=100);
    @extend .transit-7;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    opacity: 0;
    filter:alpha(opacity=0);
    vertical-align: middle;
    line-height: 25;
    text-align: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgba(0,0,0,.5);
        &:hover{
            opacity: 1;
            filter:alpha(opacity=100);
        }
}


.image-holder>img{
    width: 100%;
}
.grid-item{
    width: 25%;
    display: inline-block;
    float: left;
    padding: 0.125rem;
    overflow: hidden;

}


     @media screen and (min-width: 1600px){
        .grid-item{
                      width: 20%;
                      padding: .5rem;
        }
     }

     @media screen and (max-width: 1000px){
                .grid-item{
                width:33.1%;
            }
}

     @media screen and (max-width: 768px){
                .grid-item{
                width:50%;
            }
}
                 @media screen and (max-width: 490px){
                    .mt-shots-nav-wrapper{
                        margin: 0;
                    }
                .grid-item{
                padding: 1em;
                width:100%;
                max-height:450px; 
            }
}
.product-thumb-image{
    overflow: hidden;
    position: relative;
}

.sp-view{
    margin: 0;
}

.dimOverlay{
    background-color: #000;
    background-color: rgba(0,0,0,0.15);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.3));
    background: linear-gradient(transparent, rgba(0,0,0,0.3));
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0;
    filter:alpha(opacity=0);
    -webkit-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out;
}

.product-thumb-image a:hover .dimOverlay{
    opacity: 1;
    filter:alpha(opacity=100);
}




/*Loadmore*/
.mt-load-more-wrapper{
    height: 4em;
}
.mt-load-bar {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 6px;
  background-color: #fdba2c;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}
.bar:nth-child(1) {
  background-color: $accnet_red;
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background-color: $accnet_red;
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
/*********************************************************************************************

    Overlay Pop Up

*********************************************************************************************/


.sp-bg{
    background: #eee;

}                                                

.sp-page-wrapper{
    @extend .sp-overlay;
}
.sp-overlay{
    background:rgba(8, 8, 8, 0.94);
    top: 0;
    left: 0;
    z-index: 9997;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;} 
    
.sp-content-box{
    z-index: 9997;
    min-height: 630px;
    width: 60%;
    min-width: 40em;
    margin: 20px auto;
    padding: 40px 95px;
    background: #eee;
    background-position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}  

.mt-sp-img-wrapper {
    margin: auto;
}                                        
.mt-sp-img-wrapper>.sp-cover{
        text-align: center;
}

.mt-close-buton{

    background: url('../../images/icons/arrow/close.svg');
        background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    width: 18px;
    height: 24px;
    background-position: 50% 52%;
}

.mt-close-anchor{
        background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 18px;
    height: 24px;
    background-position: 50% 52%;
    line-height: normal;
    opacity: .4;
    position: absolute;
    right: 12px;
    top: 12px;
    transition: opacity 1s cubic-bezier(.23, 1, .32, 1);
    z-index: 2;
}

a.mt-close-anchor:hover, a.mt-arrows-anchor:hover{
    opacity: 1;
}

.mt-arrows-anchor{
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    cursor: pointer;
    width: 60px;
    height: 543px;
    background-position: 50% 52%;
    line-height: normal;
    opacity: .4;
    position: absolute;
    transition: opacity 1s cubic-bezier(0.23, 1, 0.32, 1);
    z-index: 2;
}
#prev{
    position: absolute;
    left:10em;
}

#next{
    position: absolute;
    right:10em;
}


.a-right{
    -webkit-transform: rotate(180deg);
}
.mt-arrows-icon{
    background: url("../../images/icons/arrow/arrows.svg");
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    width: 55px;
    height: 80px;
    position: absolute;
    top: 50%;
    background-position: 50% 52%;
}

.mt-sp-cov-container{
            text-align: center;
    padding: 2em;
    background: #fff;
}
/*********************************************************************************************

      Search results

*********************************************************************************************/


.mt-search-result-wrapper{
    width: 100%;
    min-width: 1250px;
    min-height: 40em;

}

/*********************************************************************************************

      single Shot Page

*********************************************************************************************/

.mt-shot-wrapper{
    min-height: 30em;
    width: 60%;
    min-width: 40em;
    margin: 4em auto;
}

.mt-shot-header{
    width: 100%;
    padding: 0.4em 0em;
    border-bottom: 1px solid #eee;
    background-color: #fff;
}

.mt-shot-avatar-wrapper{
    display: inline-block;
    float: right;
}

.mt-shot-avatar{
    margin: 1px 10px;
    display: inline-block;
}

.mt-shot-avatar>img{
    width: 30px;
    border-radius: 27em;
    border: 1px solid #eee;
    display: inline-block;
}
.mt-avatar-name{
        font-size: 84%;
    color: #6D6D6D;
    margin-right: 1em;
    float: left;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 12px;
}
.mt-shot-cover{
    padding: 2em 5em;
    text-align: center;

}
.mt-shot-cover>img{
        cursor: pointer;
}

.mt-shot-call-more-wrapper{
            height: 7rem;
            text-align: center;
}

.mt-shot-call-more{
        @extend  transit-4;
    background: #fff;
    padding: 1.7em 3em;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: inset 0px 0px 0px 1px rgba(25, 25, 25, 0.16);
}
a.mt-more-anchor:hover span{
    background-color: #F3F3F3;
}

.mt-shot-actions{
    display: inline-block;
}

.mt-shot-actions-back-btn{
    cursor: pointer;
    background: #EEE;
    width: 45px;

    a{
    display: block;
    height: 35px;
    margin: 0;
    width: 45px;
    padding: .4em .6em;

    &:hover{
        background: #E2E2E2;
    }

    }
}

.mt-back-btn{
    background: url("../../images/icons/arrow/arrow-left.svg");
    width: 25px;
    background-repeat: no-repeat;
    height: 25px;
    display: block;
}

.mt-shot-utility-icons{
    display: inline-block;
    float: right;
}
.mt-shots-info-wrap{
    margin-top:1px;
    padding: 0 45px; 
}

.util-list-surcelink>a{
    font-size: 15px;
    border: 1px solid #D8D8D8;
    padding: 0.5em;

    &:hover{
        background:#eee;}
}

.mt-btn-circle{
    border-radius: 50%;
}

.mt-shot-info-head{
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}

.mt-shot-user-actions-wrap{
    display: inline-block;
}
.mt-shot-user-actions>*{
    display: inline-block;

    a{
        display: block;
        margin: 0;
        font-size: 12px;
    }
}



.mt-shot-comments-wrapper{
    margin: 1em auto;
    min-height: 100px;
    max-height: 300px;
    overflow-y:auto;
    background: #eee;
    border: 1px solid #Ddd;
    border-radius: 2px;
}


.mt-shot-comment-cont{
    padding: 1.5em;
}


.comment-form-wrapper{
        margin-top: 15px;
    padding: 10px;
    background-color: #eee;
    overflow: hidden;
}

.input-cont input{
    line-height: 1.42857;
    color: #4d6b8a;
    border: 1px solid #ddd;
    width: 100%!important;
    margin-top: 0;
    background-color: #fff!important;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    background-color: #fff;
    border: 1px solid #c2cad8;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    &:focus{
            border-color: #03A9F4;
    }
}
@media (max-width: 768px){
    .mt-shot-wrapper{
        width: 80%;
        min-width: 25em;

    }

    .mt-shot-cover{
        padding: 2em 2em;
        }
}

@media (max-width: 425px){
    .mt-shot-wrapper{
        width: 100%;
        min-width: 20em;
        margin: 0 0 2em 0;
    }

    .mt-global-header{
            padding: 10px 12px;
    }


}


@media (max-width: 320px){
    .mt-shot-cover {
        padding: 0;

    }
}

@media (max-width: 375px){
    .mt-shot-cover {
        padding: 1em;

    }
}


/*
* Basic cards 
*
*
*
*/

.mt-card-light{
    background: #fff;
    box-shadow: 0px 0px 0px 1px rgba(140, 140, 140, 0.15);
}


/* Texts*/

h3{    font: 15px/41px sans-serif;


}

h1{      font: 40px/45px Lato;
    color: #F23054;

}
p{    font-size: 115%;}

.red-hov:hover{
    color:$accnet_red;
}

.red-text{    font-size: larger;
    color: $accnet_red;}

.link-text {
  color: map-get($ui-color, link);
  font-size: 98%; }

  .norm-text{
    font-size: 100%;
  }

p.attract-me{
    font-size: 1.28571rem;
    line-height: 1.77778;
    margin: 0;
}

.bold-title{
    font-size: 2rem;
    line-height: 1.22222;
    color: #202024;
}

.mt-sm-cont-text{
        font-size: 15px;
    letter-spacing: 0;
    margin: 0 0 16px;
    text-align: center;
    line-height: 1.5rem;
    color: #8E8E8E;
}

.mt-title-white{
        text-align: center;
    font-size: 1.5rem;
    color: #AEAEAE;;
}


/*********************************************************************************************

      Home Sections

*********************************************************************************************/
.mt-content-section-wrapper{
   
    background: #CAC9C9;
    padding:  0 10em;
}
.mt-wrap-ptb{
    padding: 5em 0;

}

.mt-2cols-wrap{
    width: 50%;
    vertical-align: middle;
    display: inline-block;
    float: left;
}

.mt-small-banner{
    height: 55vh;
    background: url('../../images/background/bb.jpg');
    background-size: cover;
}

.mt-small-banner-wrapper{
    padding-bottom: 50px;
}
.mt-info-box{
    width: 75%;
}

.mt-call-text{
        padding: 2em 0 0;
    font-size: 1.2rem;
    font-weight: 600;

    a{
        color: #F23054;
        margin: 0;

    }
}


.categories-wrapper{
    padding: 20px 10px
}
.categories-title{
    text-align: center;
    padding: 1em;
    color: #585555;
    font-size: 45px;
}
/* Buzz Out */
@-webkit-keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
a#buzzle:hover .hvr-buzz-out{
    -webkit-animation-name: hvr-buzz-out;
  animation-name: hvr-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*********************************************************************************************

      Helper classes

*********************************************************************************************/


img.scale, img.responsive {
    max-width: 100%;
    height: auto;
}

                     /*Wide Screen*/
     @media screen and (max-width: 105rem){ 
    



}
                    /*Laptop Screen*/
     @media screen and (max-width: 80rem){

}
            /*Taplet Screen*/

     @media screen and (max-width: 73.5rem){
   

}

     @media screen and (max-width: 63.5rem){

               
     }
               /*Tablet port*/

     @media screen and (max-width: 52.5rem){

               }
                                         
                        /*Small Tablet*/

     @media screen and (max-width: 46.5625rem){ }


 
                        /*Phone Moblie*/

     @media screen and (max-width: 500px){}
