/*********************************************************************************************

Project : MyTailor Fahion
URI: http://MyTailor.me/
Version: 1.0
Author: Jobizzness
Github URI: https://github.com/jobizzness/jobekunda

***********************************************************************************************/

@import "reset.scss";
@import "waves.sass";
@import "../css/font-awesome.min.css";

/*********************************************************************************************

     Sass Variables

*********************************************************************************************/

$red_color:#F23054;
$dark_color:#202024;
$light_color:#C4C4C4;
$light_text:#4E4E4F;
$mlight_text:#868686;
$mmlight_text:rgba(255, 255, 255, 0.6);
$transp_txt:rgba(162, 168, 165, 0.46);


$ui-color: (
    success    :#13E096,
    link       :#2196F3
);

/*********************************************************************************************

     Base code

*********************************************************************************************/

body {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
	padding: 0;
    background:$dark_color;
    position: relative;
    height: 100%;
    overflow-x: hidden;
    min-width: 20rem;
}
	  
p, a, h3, h5, h6, em, li {
    text-align:justify;	
    margin:0.625rem 0.625rem;
	color:$light_text;
	text-decoration:none;
    font-size:88%;
}

img{
    max-width: 100%;
}  

 h1{
    margin: 1.5625rem 1.5625rem;
    font-size:115%;
}


table {
    margin: 0;
	padding: 0;
	border-collapse: collapse;
	text-align: left;
}

tr, td { 
    margin: 0;
    padding: 0;
}

/*********************************************************************************************

    Utility Tools

*********************************************************************************************/

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.hidden{
    display: none;
}

.wrap{
    max-width: 97rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 1em;
    margin: 0 auto;

}


.mt-layout{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
}

.mt-layout-black__cover{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    visibility: hidden;
} 

.is-visible{
    background: rgba(0, 0, 0, 0.63);
    visibility: visible;
}     

/*********************************************************************************************

     Side Bar

*********************************************************************************************/

.mt-sidebar{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 18.75rem;
    height: 100%;
    max-height: 100%;
    position: fixed;
    left: -18.75rem;
    top: 0;
    background-color: $dark_color;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    box-sizing: border-box;
    border-right: 1px solid #615A5A;
    overflow: visible;
    overflow-y: auto;
    z-index: 5;
}

.sideOpen .mt-sidebar {
    left: 0;
}
.sideOpen .mt-header,
.sideOpen .pagewrapper,
.sideOpen .footerContainerWrapper{
    left: 18.75rem;
}

body.sideOpen{
    overflow-y: hidden;
}

.mt-header,
.pagewrapper,
.footerContainerWrapper {
    position: relative;
    left: 0;
    @extend .transit-4;
}  

.mt-navAction-wrapper{
    padding: 35px 25px 5px 20px;
    margin: 0;
  }


.mt-navAction-wrapper a {font-size: 75%;
    color: #fff;
    text-transform: uppercase;
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
    letter-spacing: 3px;
}

.closeTrigger {
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
    margin-top: -9px;
    margin-bottom: 5px;
    cursor: pointer;
}


.mt-nav{
    background: $dark_color url("../../images/pa01.png");
    margin:0;
    height:100%;
}

.mt-nav ul li{
    margin: 0;
    display: block;
    box-sizing: border-box;
    list-style: none !important;
}

.mt-nav .mt-sidebar-list .mt-sidebar-link{
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    text-transform: uppercase;
    border-top: solid 1px rgba(10, 10, 10, 0.96);
    box-shadow: inset 0px 1px 0px 0px rgba(103, 103, 103, 0.33);
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: left;
    letter-spacing: 0.1875rem;
}

a.mt-sidebar-link{
    padding: 2em 1.5em;
    color: $mmlight_text !important;
    text-shadow: 0px 1px 0px black;
    margin: 0;
    font-weight: 500;
        &:hover{
            border-right: 2px solid rgb(202, 45, 75);
    }
}

.mt-list-active>a{
    border-left: 8px solid #DE274A;
    background: #1E1E21;
}

.mt-smallnav-wrapper{
    border-top: solid 1px rgba(10, 10, 10, 0.96);
    box-shadow: inset 0px 1px 0px 0px rgba(103, 103, 103, 0.33);

}
.mt-smallnav-wrapper p{
    font-size:  x-small;
    display: block;
    line-height: 0.625rem;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.1875rem;
    padding: 0.1rem .2rem 0;
}

 .mt-smallnav-wrapper>p>a.mt-smallnav-link {
    color: $mmlight_text;
    padding: 0.3125rem 5.25rem 0 1rem;
        &:hover{
            color:$red_color;
        }

}

#Navmember{
    background:rgba(242, 48, 84, 0.81);
    margin-right: 0 !important;
}

    /******TRANSITIONS*******/
.transit-4{
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 400ms ease;
}

.transit-3{
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.transit-7{
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

/*********************************************************************************************

     Page Header

*********************************************************************************************/

.mt-global-header{
    width: 100%;
    margin: 0;
    height: 5rem;
    background-color: $dark_color;
    line-height: 0.625rem;
    padding: 22px 25px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.69);
}

  .pull-left{
    position: relative;
    display: inline-block;
    margin: 1em 0;
    width: 15.875rem;
}

.pull-left a{
    color: #fff;
    font-size: 0.75rem;
    text-transform: uppercase;
    cursor: pointer;
}

.mt-menu-icon{
    display: inline-block;
    padding: 0.5rem 3.125rem 0.375rem 0rem;
    position: absolute;
    top: -18px;
    font-size: 0.8125rem;
    line-height: 0.5625rem;
}


@media (max-width: 1235px){
    .pull-left{
        width: calc(100% - 56.625rem);
        min-width: 7rem;
    }

}

@media (max-width: 1000px){
    .pull-left{
        width: 5.875rem;
    }

    .wrap {
        padding: 0 1rem;
    }

    .mt-search-wrapper{
        width: calc(100% - 429px);
        margin: 6px 43px;
            min-width: 21em;
    }
    .header-notification-wrapper{
           width: 14.625rem;
    }

}

@media (max-width: 1100px){
     .header-notification-wrapper{
        width: calc(100% - 44.625rem);
        min-width: 225px;
    }
    .link-02-rt {
        width: 90% !important;
    }
}


/*********************************************************************************************

     Hero Area

*********************************************************************************************/

.hero{
    width: 100%;
    overflow: hidden;
    position: relative;
}
                         
.Banner-cover{
    position: absolute;
    height: 37rem;
    width: 100%;
    top: 5rem;
    margin: 0;
    background: url("../../images/background/banner01.jpg");
    background-repeat: no-repeat;
}

.cover-container{
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.hero-viewport{
    width: 100%;
    overflow: hidden;
}

.hero-viewport-image{
    width: 100%;
    background-color: #847676;
    background-image: url("../../images/background/banner01.jpg");
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}
  

.hero-content{
    color: #fff;
    padding: 12.5em 0;
    width: 100%;
    z-index: 100;
    text-align: center;
}
ul.hero-actions {
    cursor: default;
    list-style: none;
    padding: 3em;
}

.Buts_02{    padding: 0.9em 3.9em;
    margin-left: 0.5em;
    border-radius: 4px;
    font-size: 21px;
    background-color: transparent;
}

 ul.hero-actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

.mt-hero-textwrap{
    text-align: left;
}                  

.mt-heading-text{
    margin: 0 1em;
    color: #fff;
    font-weight: 600;
}
.mt-subheading-text{
    margin: 0.5em 2.5em;
}

.mt-hero-button{
    text-align: left;
    margin: 2em 6em;
}
  .button_09{
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #666;
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3em;
    line-height: 3em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}



.button_09{
    background-color: transparent;
    box-shadow: inset 0 0 0 2px #CD8958;
    color: #fff;
    min-width: 12em;
    font-size: .95rem;
} 

.special{
    background-color: #F23054;

}

.mt-slide-button{

    margin: 2em 2em;
}
.hero-actions>li#signup :hover{
    background-color: #FD3056;

}

.hero-actions li :hover {
    background-color: rgba(255, 255, 255, 0.33);

}

@media (max-width: 61rem) {
    .hero-viewport{
        font-size: 0.85rem;
    }
}


/*********************************************************************************************

     Featured SHOTS

*********************************************************************************************/


.mt-row-wrapper{
    width: 80%;
    min-width: 70em;
    margin-left:auto;
    margin-right: auto;
    margin-bottom: 1.25rem;
    margin-top: 2em;
}


.mt-row-wrapper:before{
    content: "";
    display: table;
}


.all-container{
    float: left;
    position: relative;
    min-height: 1px;
    margin-bottom: 2rem;
    padding: 0 0 0 1.5em;

}
 

.lth-col-1{
    width: 33%;
}


.ht-col-1{
    height: 21.9688rem;
}

.lth-wrapper{
    height: 100%;
    background-size: cover;
}
.lth-wrapper a{
    margin:0;
}

.overlay-items{
    width: 100%;
    height: 100%;
    position: relative;
}



@media screen and (max-width: 1000px){ 
    .mt-row-wrapper{
        min-width: auto;
        width:99%;
        padding-right: 1em;    
    }

    .mt-row-wrapper > *{
        width: 33%;
    }
}


@media screen and (max-width: 840px){ 
    .mt-row-wrapper {
        min-width: 55em;
        width: 90%;
    }

    .mt-row-wrapper > * {
        width: 50%;
    }

}

    @media screen and (max-width: 720px){ 
            .mt-row-wrapper {
                min-width: auto;
                width:99%; 
    }
}

 @media screen and (max-width: 500px){ 
    .mt-row-wrapper {
        min-width: 20em;
        width: 95%;
    }

    .mt-row-wrapper> * {
        width: 100%;
        min-height: 32em;
    }
}

/*********************************************************************************************

     last Section

*********************************************************************************************/

#lst-section{
    width: 100%;

    section{
        width: 80%;
        margin: 3em auto;
        text-align: center;

    }
}

#lst-section>section>p{
    padding: 1em 0em;
    font-variant: small-caps;
}
#lst-section>section>h2{    
    font-weight: 300;
    line-height: 1.75em;
    text-transform: uppercase;
    color: $mlight_text;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}

/*********************************************************************************************

     Page Footer

*********************************************************************************************/

.footerContainerWrapper{
    background: $dark_color url("../../images/pattern1.png");
    padding: 4em 0px 1em 0;
    text-align: center;
    clear: both;
    width:100%;

}                                       

ul.icons {
    padding: 2em;
    margin: 0 0 2em 0;
}

ul.icons li{
    display: inline-block;
    padding: 0 1.25em 0 0;
    color:$light_text;
    margin: 0;
          a{    font-size: 200%;

    }
}

.copyright li{
    text-align: center;

}
          /*Icons*/

.mt-menu-text{
    padding-left: 35px;
    color: $mmlight_text;
    text-shadow: 0px 1px 0px black, 2px 0px 1px rgba(0, 0, 0, 0.87);
}

#ico-menu{
    width:2em;

}

/*Svg icons*/


/*********************************************************************************************

     Shots Page

*********************************************************************************************/


.mt-product-wrapper{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
    -webkit-overflow-scrolling: touch;
    list-style: none;
    margin: -2px 2px;
    padding: 0px;
}

.overlay-items figcaption{
    @extend .transit-7;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    opacity: 0;
    vertical-align: middle;
    line-height: 25;
    text-align: center;
    background-color: rgba(0,0,0,.5);
        &:hover{
            opacity: 1;
        }
}
                 
.grid-item figcaption{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    padding: 20px;
    width: 100%;
    background: rgba(32, 32, 36, 0.68);
    color: #FFFFFF;
     opacity: 0; 
    vertical-align: middle;
    line-height: 30;
    transform: translatex(-100%);
    text-align: center;
    backface-visibility: hidden;
    transition: transform 0.4s, opacity 0.3s;
}
.grid-item figure:hover figcaption{
    transform: translatex(0);
    opacity: 1;
}
.image-holder>img{
    width: 100%;
}
.grid-item{
       width: 25%;
       display: inline-block;

    float: left;
    padding: 0.125rem;

}


     @media screen and (min-width: 1600px){
        .grid-item{
                      width: 20%;
                      padding: .5rem;
        }
     }

     @media screen and (max-width: 1000px){
                .grid-item{
                width:33.1%;
            }
}

     @media screen and (max-width: 768px){
                .grid-item{
                width:50%;
            }
}
                 @media screen and (max-width: 490px){
                .grid-item{
                width:100%;
                max-height:350px; 
            }
}
.product-thumb-image{
    overflow: hidden;
    position: relative;
}

.int-product{    float: right;
        -webkit-transition: all, 0.3s, ease-in-out;
    -o-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out;
        padding: 22px 10px;
    width: 50%;}



.int-product li{    width: 50%;
    float: left;
    margin: 1em 0;
    display: inline-block;

}
.sp-view{
    margin: 0;
}

.dimOverlay{    background-color: #000;
    background-color: rgba(0,0,0,0.15);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.3)));
    background: -webkit-linear-gradient(transparent, rgba(0,0,0,0.3));
    background: linear-gradient(transparent, rgba(0,0,0,0.3));
    bottom: 0;
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
    opacity: 0;
-webkit-transition: all, 0.3s, ease-in-out;
    -o-transition: all, 0.3s, ease-in-out;
    -ms-transition: all, 0.3s, ease-in-out;
    transition: all, 0.3s, ease-in-out;}

.product-thumb-image a:hover .dimOverlay{
    opacity: 1;
}


                /*Load more*/


                .load-wrapper{    text-align: center;
    margin-top: 1em;
}

#load-more-button {
    background: #fff;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin: 0 auto;
    border: 2px solid #1B1B1B;
    line-height: 5.5;}
#load-more-button>a   {    padding: 2em 1.5em;
    text-align: Center;
    color: $dark_color;
    font-size: 106%;
    margin: 0;}
#load-more-button:hover{    background: #E2E2E2;

}


/*********************************************************************************************

    Overlay Pop Up

*********************************************************************************************/                                  

.poptrox-popup {
    background: rgba(31, 34, 36, 0.925);
    box-shadow: 0 1em 3em 0.5em rgba(0, 0, 0, 0.25);
    cursor: default;
    background: #eee;
    -webkit-border-radius: 6px;
    padding: 40px 95px;
                    width: auto !important;
    height: auto !important;
}

.poptrox-popup .closer {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-image: url("images/close.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 3em;
    height: 5em;
    position: absolute;
    right: 0;
    top: 0;
    width: 5em;
    z-index: 2;
}


.pic>img{
        image-rendering: optimizeQuality;
    max-height:34em;
        max-width: 28em;
            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.34), 1px 2px 5px rgba(0, 0, 0, 0.02);


}
.poptrox-popup .nav-previous {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    transform: scaleX(-1);
    left: 0;
}
.poptrox-popup .nav-previous, .poptrox-popup .nav-next {
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    background-image: url("images/arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5em;
    cursor: pointer;
    height: 8em;
    margin-top: -4em;
    position: absolute;
    top: 50%;
    width: 6em;
    z-index: 2;
}

.poptrox-popup .nav-next {
    right: 0;}

/* Texts*/

h3{    font: 15px/41px sans-serif;


}

h1{      font: 40px/45px Lato;
    color: #F23054;

}
p{    font-size: 115%;}

.red-hov:hover{
    color:$red_color;
}

.red-text{    font-size: larger;
    color: $red_color;}

.link-text {
  color: map-get($ui-color, link);
  font-size: 98%; }

  .norm-text{
    font-size: 100%;
  }

/*********************************************************************************************

      Helper classes

*********************************************************************************************/


img.scale, img.responsive {
    max-width: 100%;
    height: auto;
}

                     /*Wide Screen*/
     @media screen and (max-width: 105rem){ 
    



}
                    /*Laptop Screen*/
     @media screen and (max-width: 80rem){

}
            /*Taplet Screen*/

     @media screen and (max-width: 73.5rem){
        body{font-size:88%}

}

     @media screen and (max-width: 63.5rem){

               
     }
               /*Tablet port*/

     @media screen and (max-width: 52.5rem){
         body{font-size:80%}

               }
                                         
                        /*Small Tablet*/

     @media screen and (max-width: 46.5625rem){ }


 
                        /*Phone Moblie*/

     @media screen and (max-width: 500px){}
