.avatar-pane{
	display: inline-block;
  margin-top: -3em;
  float: right;
}

.avatar-pane>img,h3{
	display: inline-block;
}

.avatar-pane>img{
	border-radius: 50%;
  margin-bottom: -12px;
}

.avatar-pane>h3{
	margin-top: -2em;
}

				/*Wizard- Signup*/

.wizard-wrapper {
  width: 718px;
position: relative;
  background: #fff;
	box-shadow: inset 0px 1px 0px 0px rgba(103, 103, 103, 0.33);
	border: solid 1px rgba(47, 47, 47, 0.96);
}

.signup-wrapper{
/*	width: 650px;*/
	height: 28em;
	padding: 0 0.5rem;
}

._s7u{
  margin: 0 auto;
  border-radius: 3px;
}

.wizard-header{
	border-bottom: 1px solid #E6E6E6;
	padding: 1.5em 2em;
}
.wizard-header>h4{    text-align: center;
    font-size: 24px;
    color: rgba(4, 4, 4, 0.83);
}

.wizard-main{
	padding: 1em 7em;
}

#s-page{
  margin-top: 3em;
}

.logo-pane-bar{
  width: 200px;
  margin: 0 auto;
  margin-top: -20px;
}

/**/
.block-border>h2{
	width: 100%;
 text-align: center;
 border-bottom: 1px solid #E6E6E6;
 line-height: 0.1em;
 margin: 10px 0 20px;
}
.block-border>h2>span{
	background:#fff;
	padding:0 10px;
	color: rgba(0, 0, 0, 0.63);
}
.link-text{
	color: #2196F3;
font-size: 98%;
}

.kilama-01>li{
    float: left;
    width: 29%;
    text-align: center;
    padding: 0.2em 0.5em;

}
.circular-div{
    height: 130px;
    border-radius: 53%;
    border: 2px solid #eee;
    padding: 1em;
        overflow: hidden;
}
.kilama-cont{
	margin: 5px 0;
}
.kilama-cont>span{
	display: block;
	    text-align: center;
    font-weight: 600;
    margin: 1em;
	text-align: center;
}

.sig_{
    height: 28em;
    position: relative;

}
.mt_bg{    position: absolute;
    width: 100%;
    height: 65%;
}

/*.hvr-bounce-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
    background: #D82344;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
  color: white;
}
.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
*/